.modal-body {
    height: 700px;
    overflow: auto;
}

#principal {
    margin-top: 100px;
}

.modal-lg {
    max-width: 80%;
}

@media (min-width: 1200px) {
    .modal-lg {
        max-width: 80%;
    }
}

@media (min-width: 360px) and (max-width: 540px) {
    .modal-lg {
        max-width: 100%;
    }
}

@media (min-width: 375px) and (max-width: 812px) {
    .modal-lg {
        max-width: 100%;
    }
}